/* Global things */
body {
	color: var(--color);
	overflow: hidden;
	background-image: resources/Tree.png;
	--background: #0f0f0f;
	--color: #dfdfdf;
	--points: #ffffff;
	background: var(--background)
}

/* General text */
h1, h2, h3, b, input {
	display: inline;
	font-family: "Lucida Console", "Courier New", monospace
}

/* These are styles for different states of components. You can make layer-specific versions with .c.locked, for example */
.locked {
	background-color: #bf8f8f;
	cursor: not-allowed;
}

/* Can meens can be clicked/bought/etc */
.can {
	cursor: pointer;
}

.can:hover {
	transform: scale(1.15, 1.15);
	box-shadow: 0 0 20px var(--points)
}

.bought {
	background-color: #77bf5f;
	cursor: default;
}

.R.bought {
	background-color: #6518a1;
}

.ST.bought {
	background-color: #525252;
}

.S.bought {
	background-color: #855729;
}

.W.bought {
	background-color: #bf7c39;
}

.TI.bought {
	background-color: #c7c6c5;
}

.AD.bought {
	background-color: #c7c6c5;
}

.B.bought {
	background-color: #a39e53;
}

.M.bought {
	background-color: #6e0fb8;
}

.T.bought {
	background-color: #d104ce;
}

.F.bought {
	background-color: #a62c23;
}

#points {
	color: var(--points);
	text-shadow: 0 0 10px var(--points);
}
